@import '../../../ui-kit/layout/layout'

:host
  // TODO: Move to `color-palette-variables.sass`.
  --color-golden: #ffd700
  --color-violet: #3e13af
  --color-violet-dark-8: #310f8c

  --color-accent: var(--color-golden)
  --color-complementary: var(--color-violet)

  --link-color: var(--color-violet-dark-8)
  --link-color-hover: var(--color-accent)

  --size: 24px

:host
  display: block

.app-section
  @include app-layout-horizontal-paddings-mixin
  padding-bottom: 40px

.app-contacts-container
  display: flex
  flex-wrap: wrap
  gap: var(--size)

.app-contact-a
  display: flex
  align-items: center
  gap: 8px
  font-size: var(--size)
  color: var(--link-color)
  transition: color .3s

  &:hover
    color: var(--link-color-hover)

.app-icon-container
  width: var(--size)
